<h1 id="title" class="text-center">American Diet Simulator 2017</h1>

<div id="addBurger" class="text-center">
  <h2 id="addBurgerTitle">Add a Burger</h2>
  <form class="create-update-form" action="/" method="POST">

    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input id="addBurgerForm" type="text" id="ca" name="burger_name">
      <button id="addBurgerBtn" type="submit">Add Burger</button>
    </div>
  </form>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 id="sectionTitle">Undevoured</h1>
       <ul id="uneaten" class="text-left">
        {{#each burgers}}
          {{#unless this.devoured}}
          <li>
            <h3>{{this.id}}. {{this.burger_name}}</h3>
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <button id="eatMeBtn" type="submit">Eat Me</button>
            </form>
          </li>
          {{/unless}}
        {{/each}}
      </ul> 
    </div>

    <div class="col-md-6 text-center">
      <h1 id="sectionTitle">Devoured</h1>
       <ul id="eaten" class="text-left">
        {{#each burgers}}
          {{#if this.devoured}}
          <li>
            <h3>{{this.id}}. {{this.burger_name}}</h3>
          </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
